@font-face {
    font-family: 'Heebo';
    src: url(./fonts/Heebo-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url(./fonts/Heebo-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Heebo', sans-serif;   
    background-color: #24273A;
    padding: 2vw 4vh;
    color: #fff;
}


h1.logo {
    color: #C6A0F6;  
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-shadow:  2px 2px 5px rgba(0, 0, 0, 0.3);

    border: 3px solid #C6A0F6;
    border-radius: 10px 20px 10px 20px;
    padding: 10px 20px; 
    transition: all 0.3s ease;
}

h1.logo:hover {
    border-color: #B7BDF8;
    box-shadow: 0 0 2vh #C6A0F6;
}


.header {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    width:50px;
    display: flex;
    justify-content: flex-start;
}

.search-box {
    display: flex;
    column-gap: 10px;
}

.search-box input{
    font-size: 1.5rem;
    letter-spacing: 1px;
    background-color: #2A2C3F;
    color: #fff;
    outline: none;

    border: 3px solid #C6A0F6;
    border-radius: 30px;
    padding: 10px 20px; 
    transition: all 0.3s ease;
}

input::placeholder {
    color: #B7BDF8;
    opacity: 0.5;
    font-style: italic;
    font-size: 1.3vw;
}

input:focus {
    outline: none;
    background-color: #45466B;
    box-shadow: 0 0 0.5vw #C6A0F6;
}

#btn-search {
    background-color: #C6A0F6;   
    color: #1E1E2E;              
    border: none;                
    border-radius: clamp(6px, 0.8vw, 12px);      
    padding: clamp(6px, 0.8vh, 12px) clamp(12px, 1.5vw, 20px);     
    font-size: clamp(14px, 1.2vw, 18px);           
    font-weight: 600;
    cursor: pointer;             
    transition: all 0.3s ease-in-out;   
}

#btn-search:hover {
    background-color: #B7BDF8;   
}

#btn-search:active {
    transform: scale(0.97);     
    transition: transform 0.1s ease; 
}

.tmdb-logo {
    padding: 15px 5px;
}
